#app {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.el-submenu [class^=fa] {
  vertical-align: baseline;
  margin-right: 10px;
}

.el-menu-item [class^=fa] {
  vertical-align: baseline;
  margin-right: 10px;
}

.toolbar {
  //background-color: #f1f2f7;
  margin: 15px 0 10px;
  .el-form-item {
    margin-bottom: 10px;
  }
}

.fade-enter-active, .fade-leave-active {
  transition: all .2s ease;
}

.fade-enter, .fade-leave-active {
  opacity: 0;
}
